theme
*.log

*.gem
*.rbc
*.so
*.o
*.a
.bundle
.config
.yardoc
.rvmrc
.ruby-gemset
.ruby-version
vendor/ruby
doc
tmp
pkg
rdoc
Gemfile.lock
InstalledFiles
_yardoc
lib/bundler/man
spec/reports
test/tmp
test/version_tmp
mkmf.log
.bundle
coverage
*.swp
*.dump
.idea